@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.score-btn {
  width: 2em;
  height: 2em;
  padding: 0e,;
  margin: 0 0.1em;
  background: #ffffff;
  color: #000000;
  border: 2px solid #000;
  border-radius: 4px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background 0.2s;
}
.score-btn:hover {
  background: #0056b3;
}

.word-btn {
  padding: 0.3em 0.8em;
  margin: 0 0.1em;
  background: #ffffff;
  color: #000000;
  border: 2px solid #000;
  border-radius: 4px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background 0.2s;
}
.word-btn:hover {
  background: #0056b3;
}

.table_thead {
  background-color: #152D58 !important;
}

.table-bordered {
  border: 1px solid #000;
  padding: 0.5em 1em;
}

.table-striped > tbody > tr:nth-child(0) > td, .table-striped > tbody > tr:nth-child(0) > th {
  background-color: #152D58 !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #1E3E75 !important;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #152D58 !important;
}

table.table-bordered > thead > tr > th{
  border:3px solid #022055 !important;
}

.table-bordered td {
  border:3px solid #022055 !important;
}

.table-bordered th {
  border:3px solid #022055 !important;
}

.table_font_color {
  color: white !important;
}